
.AddMarker {
	color: white;
	background: #0277bd;
	padding: 15px;
	width: 35px;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	border-radius: 8%;
	transform: translate(-50%, -50%);
	box-shadow:1.5px 1px #888888;
}