/*Global Settings*/
html {
  background-color: #F5F5F6;
  font-size:15px;
  margin:0;
  height:100%;
}

/*Custom*/
.title {
  text-align: center;
  font-size:5rem;
  color:#0277bd;
  font-weight:bolder;
  padding:5px; 
}

.google-maps {
  height:100%;
}