/* Import Lato Font-Family */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Global Settings*/
html {
  background-color: #F5F5F6;
  font-size:15px;
  margin:0;
  height:100%;
  font-family:'Lato', Sans-Serif;
}

body {
  margin: 0;
  padding: 0;
}

p {
	margin: 0;
}

/*Custom*/
.title {
  text-align: center;
  font-size:3rem;
  color:#0277bd;
  font-weight:bolder;
  border-bottom:15px solid #0277bd;
}

.sub {
  font-size:1.5rem;
  padding-bottom:35px;
}

.google-maps {
  background-color:#0277bd;
}

.description {
  color:white;
  padding-top:25px;
  font-size:1.7rem;
  text-align: center;
  padding:15px 30px;
  background-color:#0277bd;
}

.contributors {
  font-size: 1.3rem;
  text-align:center;
  font-weight:bolder;
  color:#0277bd;
  padding:15px;
  cursor:pointer;
}

.sub-title {
  color:#006064;
}

.maps-api {
  color:#2e7d32;
}

b {
  color:#0277bd;
}