/*Global Settings*/
html {
  background-color: #1565c0;
  font-size:15px;
  margin:0;
}

/*Custom*/
.title {
  text-align: center;
  font-size:5rem;
  color:white;
  padding:5px; 
}

.google-maps {
  width:80%;
  height:40%;
}